In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

def kg_to_lbs(num):
    print(num.name)
    #print(type(num))
    if num.name=='Weight unit':
        print('begin here')
        print(num)
        print('num.nam 9 \n')
        print(num.values)
def rep_parse(x):
    #if x.iloc[1]=='(--)':
    #print(type(x))
    if type(x)==str and')' in x:
        #print(x)
        x = x[:4]
    return x
def s_f_parse(x):
    if type(x)==str and ')' in x:
        x = x[:1]
    return x
def sep_time(x):
    if type(x)==str and ':' not in x:
        x = None
    return x 
def sep_unfin(x):
    if type(x)==str and (':' in x or '--' in x):
        x = None
    return x

pd.set_option('display.max_columns',None) #this is to show all columns
#def score_parse(x):
 #   if type(x)==str and ':' in x:
def parse_wkout(workout):
    score211 = Mens_data[workout].str.split(" ",5,expand=True)
    score211[0]=score211[0].str.extract('(\d+)',expand=False)#takes off the "th" and "nd" at end of numbers (getss all numeric values)
    score211[1]=score211[1].str.extract('\(([^)]+)',expand=False)#grabs everything in parenthasis
    score211[5] = score211[1].apply(sep_time)
    score211[6] = score211[1].apply(sep_unfin)
    score211[2] = score211[2].apply(rep_parse)
    score211[3] = score211[3].apply(s_f_parse)
    score211[4] = score211[4].apply(s_f_parse)
    score211[4].fillna(score211[3],inplace=True)
    score211.drop(score211.columns[3],axis=1,inplace=True) #drop third column in table referenced by the index
    score211.drop(score211.columns[1],axis=1,inplace=True)
    return score211

def shift_it(Mens_data):
    
    display(Mens_data.iloc[57645:57650])
    fn = Mens_data.loc[57645]['first_name']
    #Nicols_aff = Mens_data.loc[57645].shift(periods=-2)
    mask = Mens_data.iloc[[57645]].shift(periods=-1,axis="columns")
    mask.at[57645,'first_name']=fn
    points = mask.at[57645,'Height and Weight']
    mask.at[57645,'Height and Weight'] = np.nan
    Mens_data.at[57645,'points']=points
    print("MASK 1")
    display(mask)
    Mens_data.loc[57645] = mask[Mens_data.columns].values
    for x in Mens_data.iloc[57645].iteritems():
        #print(len(mask[Mens_data.columns].values[0]))
        #print(mask[Mens_data.columns].values)
        print("ello")
        print(x)
        Mens_data.at[57645,x[0]] = x[1][0]
        #print(type(x[1][0]))
        #x = "jimmu"
    print("MASK")
    display(mask)
    display(Mens_data.loc[[57645]])

In [47]:
Mens_data = pd.read_csv('men_main_21.1.csv')#'men_open_21.1.csv')
shift_it(Mens_data)

Mens_data['Age'] = Mens_data['Age'].str.extract('(\d+)',expand=False)

height_and_weight = Mens_data['Height and Weight'].str.split("|",1,expand=True)
Mens_data['Height'] = height_and_weight[0]
Mens_data['Weight'] = height_and_weight[1]

height_and_unit=Mens_data['Height'].str.split(" ",1,expand=True)
display(lbs_height_and_unit = height_and_unit[height_and_unit[1]=='lb'])
display(height_and_unit[height_and_unit[1]=='kg'])

#Mens_data['Weight'] = Mens_data['Weight'].to_frame().join(height_and_unit[0].to_frame(),how='left').iloc[74]
display(Mens_data.iloc[74])

for x in height_and_unit[height_and_unit[1]=='lb'].index:
    
    Mens_data.at[x,'Weight']=Mens_data.at[x,'Height']
    #print(Mens_data.at[x,'Weight'])
    Mens_data.at[x,'Height'] = None
    #print(Mens_data.at[x,'Height'])
for x in height_and_unit[height_and_unit[1]=='kg'].index:
    
    Mens_data.at[x,'Weight']=Mens_data.at[x,'Height']
    #print(Mens_data.at[x,'Weight'])
    Mens_data.at[x,'Height'] = None
    #print(Mens_data.at[x,'Height'])
    #print(str(x[2])+' '+str(x[4]))
    #Mens_data['Weight'].at[x,'weight'] = str(x[2])+' '+str(x[4])
    
#display(Mens_data.iloc[78531])
#display(Mens_data[Mens_data['Height']=='CrossFit'])

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,Unnamed: 18
57645,57645,NICOL,NaN,MARC,57646,United Kingdom,Europe,Age 41,CrossFit Watford,NaN,237470,48384th (236 reps),NaN,63386th (214 reps),NaN,68919th (126 reps),NaN,56781st (176 lbs),Weight lifted: 176 lbs.
57646,57646,FAGNER RAPHAELLI,FRAGA,57647,Brazil,South America,Age 39,CrossFit TXXIII,173 cm | 71 kg,237476.0,1186th (584 reps),NaN,7988th (13:34),225 reps,101151st (--),NaN,127151st (--),NaN,NaN
57647,57647,KELLAN,FULLINGIM,57648,United States,North America,Age 17,CrossFit Jenks,71 in | 162 lb,237478.0,73681st (211 reps),NaN,78848th (184 reps),NaN,23248th (154 reps),NaN,61701st (166 lbs),Weight lifted: 166 lbs.,NaN
57648,57648,DAVID,HICKS,57649,United States,North America,Age 47,CrossFit 816,72 in | 190 lb,237479.0,63617th (216 reps),NaN,69155th (205 reps),NaN,60079th (135 reps),NaN,44628th (187 lbs),Weight lifted: 187 lbs.,NaN
57649,57649,ANTONINO,DELISI,57650,United States,North America,Age 26,CrossFit Petram,65 in | 171 lb,237482.0,64489th (216 reps),NaN,75239th (192 reps),NaN,53317th (136 reps),NaN,44437th (187 lbs),Weight lifted: 187 lbs.,NaN

MASK 1

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,Unnamed: 18
57645,NaN,NICOL,MARC,57646,United Kingdom,Europe,Age 41,CrossFit Watford,NaN,NaN,48384th (236 reps),NaN,63386th (214 reps),NaN,68919th (126 reps),NaN,56781st (176 lbs),Weight lifted: 176 lbs.,NaN

ValueError: setting an array element with a sequence.

In [46]:

    
#Mens_data = pd.read_csv('test_open_men.csv')





Mens_data['Height']=height_and_unit[0].astype(float)
Mens_data['Height unit']=height_and_unit[1]
#bill.head(10)
weight_and_unit=Mens_data['Weight'].str.split(" ",2,expand=True)
#there is an extra space after the pipe
Mens_data['Weight']=weight_and_unit[1].astype(float)
Mens_data['Weight unit']=weight_and_unit[2]
Mens_data.head(10)
#test = Mens_data.where(Mens_data['Weight unit']=='kg')['Weight'].astype(int)


Mens_data['New Kg weight']= Mens_data.where(Mens_data['Weight unit']=='kg').apply(lambda x: x*2.20462 if x.name=='Weight'else x)['Weight']
Mens_data['New Kg weight'].fillna(Mens_data['Weight'],inplace=True)
Mens_data['Body Weight in LBS'] = Mens_data['New Kg weight']
Mens_data=Mens_data.drop(['Weight','Weight unit','New Kg weight','Height and Weight'],axis=1)
#Mens_data.where(Mens_data['Weight unit']=='kg').apply(kg_to_lbs)

Mens_data['New cm height']= Mens_data.where(Mens_data['Height unit']=='cm ').apply(lambda x: x/2.54 if x.name=='Height'else x)['Height']
Mens_data['New cm height'].fillna(Mens_data['Height'],inplace=True)
Mens_data['Body Height in inch'] = Mens_data['New cm height']
Mens_data=Mens_data.drop(['Height','Height unit','New cm height'],axis=1)
#display(Mens_data.head(10))


New_211 = parse_wkout('21.1')
Mens_data.drop(columns=['21.1','21.1 time'],inplace=True)
Mens_data['21.1 Placing'] = New_211[0]
Mens_data['21.1 S or F'] = New_211[4]
Mens_data['21.1 Completion time'] = New_211[5]
Mens_data['21.1 Tiebreaker reps'] = New_211[6]

#0 is 211 placing
#4 scaled of fixed
#5 completion time
#6 Tiebreaker reps
New_212 = parse_wkout('21.2')
Mens_data.drop(columns=['21.2','21.2 time'],inplace=True)
Mens_data['21.2 Placing'] = New_212[0]
Mens_data['21.2 S or F'] = New_212[4]
Mens_data['21.2 Completion time'] = New_212[5]
Mens_data['21.2 Tiebreaker reps'] = New_212[6]


New_213 = parse_wkout('21.3')
Mens_data.drop(columns=['21.3','21.3 time'],inplace=True)
Mens_data['21.3 Placing'] = New_213[0]
Mens_data['21.3 S or F'] = New_211[4]
Mens_data['21.3 Completion time'] = New_213[5]
Mens_data['21.3 Tiebreaker reps'] = New_213[6]
#display(Mens_data.head(10))

New_214 = parse_wkout('21.4')
Mens_data.drop(columns=['21.4','weight'],inplace=True)
Mens_data['21.4 Placing'] = New_214[0]
Mens_data['21.4 S or F'] = New_214[4]
Mens_data['21.4 Weight Lifted in lbs'] = New_214[6]
#print(score21144)
#print(len(score211))
#place211 = score211[0]



#score212

#if ' (--)' != score211[1] :#and ':' not in score211[1]:
 #   reps211 = score211[2]
  #  print('we have exception')
#    print(score211[4])

#KG=Mens_data[Mens_data['Weight unit']=='kg']
#KG.head(10)
#test.head(10)
display(New_214)
display(Mens_data.head(40))
display(Mens_data.loc[[57645]])

#Mens_data.to_csv('Final_Mens_open21.1.csv')

ValueError: could not convert string to float: 'CrossFit'