What height is the best for the open?
maybe take the average score of each height?
 Given what I know about crossfit and that majority of workouts favor that of a smaller statue my guess is that around the 70 inch mark will be the suitable area

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from IPython.display import display

df = pd.read_csv('Final_Mens_open21.1.csv')
Mens_data = pd.read_csv('men_main_21.1.csv')

pd.set_option('display.max_columns',None)
display(df.head(10))

/home/branchmanager/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (1,10,18,26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/branchmanager/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (3,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Unnamed: 0.1,first_name,lastname,Placing,country,continent,Age,affiliate,points,Unnamed: 18,Body Weight in LBS,Body Height in inch,21.1 Placing,21.1 S or F,21.1 Completion time,21.1 Tiebreaker reps,21.2 Placing,21.2 S or F,21.2 Completion time,21.2 Tiebreaker reps,21.3 Placing,21.3 S or F,21.3 Completion time,21.3 Tiebreaker reps,21.4 Placing,21.4 S or F,21.4 Weight Lifted in lbs
0,0,0,JEFFREY,ADLER,1,Canada,North America,27,CrossFit Wonderland,101,NaN,197.00000,69.000000,20,NaN,11:55,NaN,8.0,NaN,9:14,NaN,27.0,NaN,8:15,NaN,46.0,NaN,317.0
1,1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141,NaN,187.00000,69.000000,33,NaN,12:25,NaN,47.0,NaN,9:52,NaN,5.0,NaN,7:48,NaN,56.0,NaN,316.0
2,2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165,NaN,205.00000,73.000000,87,NaN,13:02,NaN,24.0,NaN,9:38,NaN,48.0,NaN,8:26,NaN,6.0,NaN,345.0
3,3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217,NaN,180.00000,69.000000,5,NaN,11:25,NaN,68.0,NaN,9:59,NaN,87.0,NaN,8:41,NaN,57.0,NaN,316.0
4,4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254,NaN,194.00000,69.000000,58,NaN,12:45,NaN,91.0,NaN,10:04,NaN,5.0,NaN,7:48,NaN,100.0,NaN,312.0
5,5,5,NOAH,OHLSEN,6,United States,North America,30,Peak 360 CrossFit,272,NaN,190.00000,67.000000,11,NaN,11:41,NaN,21.0,NaN,9:33,NaN,2.0,NaN,7:44,NaN,238.0,NaN,301.0
6,6,6,SAMUEL,COURNOYER,7,Canada,North America,25,CrossFit Mayhem,276,NaN,205.00000,70.866142,158,NaN,13:27,NaN,79.0,NaN,10:02,NaN,20.0,NaN,8:09,NaN,19.0,NaN,328.0
7,7,7,COLE,GREASHABER,8,United States,North America,21,CrossFit Lee's Summit (LS),403,NaN,206.00000,72.000000,82,NaN,13:01,NaN,68.0,NaN,9:59,NaN,46.0,NaN,8:25,NaN,207.0,NaN,303.0
8,8,8,AGUSTIN,RICHELME,9,Argentina,South America,24,NaN,417,NaN,182.98346,68.110236,30,NaN,12:19,NaN,137.0,NaN,10:15,NaN,1.0,NaN,7:40,NaN,249.0,NaN,300.0
9,9,9,OLEG,LASCENKO,10,United Kingdom,Europe,23,CrossFit Abu Dhabi,428,NaN,202.82504,68.897638,53,NaN,12:43,NaN,22.0,NaN,9:34,NaN,102.0,NaN,8:46,NaN,251.0,NaN,300.0

In [16]:
df['Body Height in inch']=df['Body Height in inch'].round(0)
df.iloc[57645:57655]

All_heights = df[df['Body Height in inch'].notna()]
All_heights.iloc[57645:57655]
display(df[df['Body Height in inch']==1.0])
#[display(Mens_data.loc[x]) for x in df[df['Body Height in inch']==1.0].index]
#display(df.groupby(['Body Height in inch']).mean().head(50))
display(df['Body Height in inch'].value_counts().head(60))

,Unnamed: 0,Unnamed: 0.1,first_name,lastname,Placing,country,continent,Age,affiliate,points,Unnamed: 18,Body Weight in LBS,Body Height in inch,21.1 Placing,21.1 S or F,21.1 Completion time,21.1 Tiebreaker reps,21.2 Placing,21.2 S or F,21.2 Completion time,21.2 Tiebreaker reps,21.3 Placing,21.3 S or F,21.3 Completion time,21.3 Tiebreaker reps,21.4 Placing,21.4 S or F,21.4 Weight Lifted in lbs
51,51,51,OMAR,MARTINEZ,52,Venezuela,South America,29,NaN,1075,NaN,167.55112,1.0,25,NaN,12:09,NaN,725.0,NaN,11:06,NaN,13.0,NaN,8:05,NaN,312.0,NaN,298.0
378,378,378,GERMAN,CASTRO,379,Mexico,North America,34,NaN,4906,NaN,198.41580,1.0,826,NaN,14:48,NaN,780.0,NaN,11:09,NaN,725.0,NaN,10:00,NaN,2575.0,NaN,265.0
1457,1457,1457,GONZALO,KARA,1458,Argentina,South America,26,Q21 CrossFit,13740,NaN,176.36960,1.0,4815,NaN,NaN,409.0,1954.0,NaN,11:52,NaN,1946.0,NaN,11:12,NaN,5025.0,NaN,253.0
2147,2147,2147,RODOLFO,POBLETE,2148,Chile,South America,38,Pura Sangre CrossFit,18429,NaN,202.82504,1.0,6359,NaN,NaN,393.0,6125.0,NaN,13:08,NaN,1822.0,NaN,11:06,NaN,4123.0,NaN,255.0
3466,3466,3466,SERGIO LUIS,CARRILLO DURAN,3467,Mexico,North America,30,CrossFit Cupra,26526,NaN,191.80194,1.0,10777,NaN,NaN,387.0,12980.0,NaN,14:27,NaN,1337.0,NaN,10:42,NaN,1432.0,NaN,275.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133472,133472,133472,FERNANDO,DÍAZ,133424,Mexico,North America,30,Balerion CrossFit,460155,NaN,167.55112,1.0,117347,NaN,NaN,NaN,111374.0,NaN,NaN,NaN,101151.0,NaN,NaN,NaN,130283.0,NaN,NaN
133914,133914,133914,RASHED,JASEM,133817,Kuwait,Asia,37,NaN,460884,NaN,160.93726,1.0,117347,NaN,NaN,NaN,111374.0,NaN,NaN,NaN,101151.0,NaN,NaN,NaN,131012.0,NaN,NaN
134958,134958,134958,GALO,SZLOMOWICZ,134908,Argentina,South America,16,NaN,462869,NaN,147.70954,1.0,117347,NaN,NaN,NaN,111374.0,NaN,NaN,NaN,101151.0,NaN,NaN,NaN,132997.0,NaN,NaN
135182,135182,135182,ANDERS,OLSSON,135018,Sweden,Europe,47,CrossFit Highway,463056,NaN,207.23428,1.0,117347,NaN,NaN,NaN,111374.0,NaN,NaN,NaN,101151.0,NaN,NaN,NaN,133184.0,NaN,NaN
137330,137330,137330,JAMES,HOFFER,137317,United States,North America,33,NaN,467062,NaN,1.00000,1.0,117347,NaN,NaN,NaN,111374.0,NaN,NaN,NaN,101151.0,NaN,NaN,NaN,137190.0,NaN,NaN

70.0     12272
72.0     11289
69.0     11144
71.0     10101
68.0      7360
67.0      6357
73.0      5905
74.0      5058
66.0      2885
75.0      2575
76.0      1733
65.0      1669
77.0       621
64.0       608
6.0        371
78.0       349
185.0      347
180.0      324
63.0       303
175.0      290
60.0       268
170.0      261
190.0      252
165.0      196
200.0      170
195.0      165
1.0        159
79.0       144
80.0       138
205.0      136
210.0      128
160.0      115
215.0       95
5.0         89
183.0       88
178.0       85
182.0       81
62.0        80
61.0        79
174.0       79
176.0       74
172.0       70
155.0       70
173.0       68
83.0        67
220.0       66
150.0       66
187.0       59
90.0        59
168.0       58
177.0       58
82.0        57
188.0       56
85.0        56
225.0       51
230.0       47
171.0       46
186.0       45
179.0       45
81.0        43
Name: Body Height in inch, dtype: int64