In [4]:
import pandas as pd
import numpy as np
from IPython.display import display

def kg_to_lbs(num):
    print(num.name)
    #print(type(num))
    if num.name=='Weight unit':
        print('begin here')
        print(num)
        print('num.nam 9 \n')
        print(num.values)
def score_parse(x):
    #if x.iloc[1]=='(--)':
    #print(type(x))
    if type(x)==str and')' in x:
        #print(x)
        x = x[:4]
    return x
Mens_data = pd.read_csv('test_open_men.csv')

Mens_data['Age'] = Mens_data['Age'].str.extract('(\d+)',expand=False)

height_and_weight = Mens_data['Height and Weight'].str.split("|",1,expand=True)
Mens_data['Height'] = height_and_weight[0]
Mens_data['Weight'] = height_and_weight[1]

height_and_unit=Mens_data['Height'].str.split(" ",1,expand=True)
Mens_data['Height']=height_and_unit[0].astype(float)
Mens_data['Height unit']=height_and_unit[1]
#bill.head(10)
weight_and_unit=Mens_data['Weight'].str.split(" ",2,expand=True)
#there is an extra space after the pipe
Mens_data['Weight']=weight_and_unit[1].astype(float)
Mens_data['Weight unit']=weight_and_unit[2]
Mens_data.head(10)
#test = Mens_data.where(Mens_data['Weight unit']=='kg')['Weight'].astype(int)


Mens_data['New Kg weight']= Mens_data.where(Mens_data['Weight unit']=='kg').apply(lambda x: x*2.20462 if x.name=='Weight'else x)['Weight']
Mens_data['New Kg weight'].fillna(Mens_data['Weight'],inplace=True)
Mens_data['Body Weight in LBS'] = Mens_data['New Kg weight']
Mens_data=Mens_data.drop(['Weight','Weight unit','New Kg weight','Height and Weight'],axis=1)
#Mens_data.where(Mens_data['Weight unit']=='kg').apply(kg_to_lbs)

Mens_data['New cm height']= Mens_data.where(Mens_data['Height unit']=='cm ').apply(lambda x: x*2.54 if x.name=='Height'else x)['Height']
Mens_data['New cm height'].fillna(Mens_data['Height'],inplace=True)
Mens_data['Body Height in inch'] = Mens_data['New cm height']
Mens_data=Mens_data.drop(['Height','Height unit','New cm height'],axis=1)


score211 = Mens_data['21.1'].str.split(" ",5,expand=True)
score211[0]=score211[0].str.extract('(\d+)',expand=False)
score211[1]=score211[1].str.extract('(\d+)',expand=False)
score211[2] = score211[2].apply(score_parse)
#print(score21144)
#print(len(score211))
place211 = score211[0]


#score212

#if ' (--)' != score211[1] :#and ':' not in score211[1]:
 #   reps211 = score211[2]
  #  print('we have exception')
#    print(score211[4])

#KG=Mens_data[Mens_data['Weight unit']=='kg']
#KG.head(10)
#test.head(10)
display(score211.head(10))
display(Mens_data.head(10))

          0     1     2     3     4
0  110441st  (378  reps     -    s)
1   86395th  (117  reps  None  None
2   93639th   (46  reps  None  None
3   90658th  (111  reps  None  None
4  111227th  (376  reps     -    s)
5  106315th  (390  reps     -    s)
6  114887th  (214  reps     -    s)
7  112278th  (340  reps     -    s)
8  117347th  (--)  None  None  None
9   77394th  (209  reps  None  None

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,Body Weight in LBS,Body Height in inch
0,0,ROBBERT,MORPURGO,114151,Suriname,South America,27,Rock CrossFit Paramaribo,413563,110441st (378 reps - s),NaN,87326th (161 reps),NaN,101151st (--),NaN,114645th (--),NaN,218.25738,472.44
1,1,CHRISTIAN,CERDA,114152,United States,North America,51,CrossFit Launchpad,413565,86395th (117 reps),NaN,111374th (--),NaN,101151st (--),NaN,114645th (--),NaN,NaN,NaN
2,2,CHRISTOPHER,BLICKHAN,114153,United States,North America,47,FTX CrossFit,413570,93639th (46 reps),NaN,93917th (123 reps),NaN,101151st (--),NaN,124863rd (--),NaN,185.00000,72.00
3,3,CHRISTOPHER,PETERSON,114154,United States,North America,38,NaN,413576,90658th (111 reps),NaN,111374th (--),NaN,101151st (--),NaN,110393rd (--),NaN,235.00000,70.00
4,4,MATT,HARRIGER,114155,United States,North America,40,CrossFit Deep Well,413577,111227th (376 reps - s),NaN,108163rd (173 reps - s),NaN,98495th (76 reps - s),NaN,95692nd (125 lbs - s),Weight lifted: 125 lbs.,NaN,NaN
5,5,PHILIP,KNUDSEN,114156,Norway,Europe,16,CrossFit Asker,413580,106315th (390 reps - s),NaN,109920th (126 reps - s),NaN,98443rd (77 reps - s),NaN,98902nd (71 lbs - s),Weight lifted: 71 lbs.,NaN,NaN
6,6,SEAN,JOYCE,114157,United States,North America,47,CrossFit Ferrum,413603,114887th (214 reps - s),NaN,108885th (160 reps - s),NaN,93540th (136 reps - s),NaN,96291st (120 lbs - s),Weight lifted: 120 lbs.,NaN,NaN
7,7,JOHN,SCHWUCHOW,114157,United States,North America,43,CrossFit Beloit,413603,112278th (340 reps - s),NaN,104397th (217 reps - s),NaN,98882nd (75 reps - s),NaN,98046th (105 lbs - s),Weight lifted: 105 lbs.,NaN,NaN
8,8,VICTOR,SANTOS,114159,Portugal,Europe,27,Off Limits CrossFit Rato,413606,117347th (--),NaN,95609th (13:23 - s),225 reps,100569th (--),NaN,100081st (--),NaN,198.41580,472.44
9,9,MATTHEW,MEYERS,114160,United States,North America,42,CrossFit R.A.W.,413607,77394th (209 reps),NaN,111374th (--),NaN,101151st (--),NaN,123688th (--),NaN,NaN,NaN